*{
    padding: 0px;
    margin: 0px;
}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    margin-top: 12px;
    margin-bottom: 12px;
}


.mitte {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Inspirationsquelle {
    width: 100%;
    height: 300px;
}

#Inspirationsquelle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 800px) {
    #Inspirationsquelle {
        height: 200px;
    }
}

footer ul{
    float: center;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 24px;
}


footer ul li a {
    font-weight: 600;
    padding: 20px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

section {
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-left: auto;
    box-sizing: border-box;
}