*{
    padding: 0px;
    margin: 0px;
}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(155, 194, 155);
}

header {
    margin-top: 24px;
    margin-bottom: 24px;
}


.mitte {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Inspirationsquelle {
    width: 100%;
    height: 300px;
}

#Inspirationsquelle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 800px) {
    #Inspirationsquelle {
        height: 200px;
    }
}

nav{
    width: 100%;
    height: 10%;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0);
}

nav ul {
    float: center;
    list-style: none;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    font-weight: 600;
    padding: 12px;
    color: black;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    background-color: #ebebeb;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    padding: 7px;
    border-radius: 0px 0px 12px 12px;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li a{
    color: black;
    padding: 14px 20px;
    border-radius: 10px;
}

nav ul li ul li a:hover{
    background-color: #9cebb6;
}

section {
    max-width: 800px;
    margin-left: 1100px;
    padding-left: 16px;
    box-sizing: border-box;
}